.container {
  display: block;
  margin: 0 auto;
  max-width: 540px;
}

h1 {
  text-align: center;
}

.row > * {
  padding: 0;
}

.form-control {
  width: 76%;
  display: inline-block;
}

button {
  position: relative;
  top: -1px;
}

span {
  position: relative;
  top: 1px;
}

h2 {
  margin: auto auto auto 30px;
  font-size: larger;
}

a.active {
  text-decoration: none;
  color: black;
}
a.active:hover {
  cursor: default;
}

sup {
  font-size: medium;
}

#icon {
  max-width: 45px;
}

.r {
  margin: auto 2px;
}

div.col-2 {
  font-size: small;
}

h3 {
  text-align: center;
}

div.description {
  text-transform: capitalize;
}

ul {
  list-style: none;
  display: inline-block;
}

ul.col-8 {
  position: relative;
  left: 36px;
}
